<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Goodreads Test Suite">
    <listeners>
        <listener class-name="com.goodreadsSe.Utilities.TestListener"></listener>
    </listeners>

    <test verbose="2" preserve-order="true" name="chromeTests" thread-count="5">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="com.goodreadsSe.Tests.AssignmentTest"></class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="fireFoxTests" thread-count="5">
        <parameter name="browser" value="firefox"></parameter>
        <classes>
            <class name="com.goodreadsSe.Tests.AssignmentTest"></class>
        </classes>
    </test>



</suite>